* {
  font-family: "comic sans ms";
  border-radius: 5px;
}

p {
  font-size: 16pt;
}

button {
  cursor: pointer;
}

body {
  transition: 1s;
}

.header-image {
  position: relative;
  top: 0;
  left: 0;
  width: 75%;
  align-items: center;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 2%;
  left: 40%;
  width: 20%;
  z-index: 2;
  border-radius: 50%;
}

.header-button {
  position: relative;
  top: -90px;
  z-index: 2;
  background: #02bb4c;
  color: white;
  border-radius: 5px;
  padding: 9px;
  font-size: 1.3rem;
  transition: 0.5s;
  text-decoration: none;
  border: none;
  cursor: pointer;
  justify-content: center;
  width: 170px;
}

.header-button:hover {
  background: #00e05a;
}

.social {
  height: 4rem;
}

.pic {
  height: 475px;
  margin: 0;
}

.pic2 {
  height: 475px;
  margin: 0;
}

.pic3 {
  height: 200px;
}

.gray {
  background: rgba(0, 0, 0, 0.1005);
  width: 75%;
  border-radius: 5px;
  margin: 0 auto;
}

#pics {
  background: rgba(0, 0, 0, 0.1005);
  width: 75%;
  border-radius: 5px;
}

.profile {
  border-radius: 50%;
}

#footer {
  background-image: linear-gradient(to right, #732a99ff , #e4796aff);
  color: white;
}

.left-align {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  /*.header-button {
    position: absolute;
    top: 65%;
    left: 35%;
    z-index: 2;
    background: #02bb4c;
    color: white;
    border-radius: 5px;
    padding: 9px;
    font-size: 1.3rem;
    transition: 0.5s;
    text-decoration: none;
  }*/

  .header-image {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    align-items: center;
    z-index: 1;
  }

  .gray, #pics {
    width: 95%;
  }
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url("COMIC.TTF");
}